<template>
  <a :href="GetBaseUrl() + 'blog/' + article.slug">
    <div>
      <v-list two-line style="padding: 5px 0px">
        <v-list-tile>
          <v-list-tile-action>
            <v-avatar size="40px">
              <img :src="GetBaseUrl() +GetImage(article.image_url)" alt="Avatar" />
            </v-avatar>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title style="font-size: 1em; font-weight: 600; color: #6B0707">
              {{ article.name}}
            </v-list-tile-title>
            <v-list-tile-sub-title style="font-size: 0.8em;">
              <span v-html="GetExcerpt(article.body)"></span>
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-divider style="margin-top:0;margin-bottom:0"></v-divider>
    </div>
  </a>
</template>

<script>
import StringHelper from "../../helpers/StringHelper";
import Config from "../../helpers/Config";
export default {
  props: ["article"],
  data() {
    return {
      default: {
        img:
          this.article.image_url == ""
            ? "img/branding/fbh-logo-only.png"
            : this.article.image_url
      }
    };
  },
  methods: {
    GetExcerpt(string) {
      let str = string.replace(/<[^>]*>?/gm, "");
      return StringHelper.getExcerpt(str, 30).text;
    },
    GetBaseUrl() {
      return Config.getBaseUrl();
    },
    GetImage(img) {
      if (img == "") {
        return "img/branding/fbh-logo-only.png";
      }
      return img;
    }
  }
};
</script>

<style></style>
