// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$fbhRed: #B63939;
$fbhDarkRed: #6B0707;
$fbhLightRed: #ffe6e6;

// colors

$brand_primary: #2B700B; //e36329;
$brand_accent: #F2950A;
$brand_inverse: #726E0B;
$brand_inverse2: #565009;

$color_dark: #1D1D1D;

$color_white: #FFFCF9; // smoke white
$color_grey_dark: #757575; //Slate grey

$color_light: #F5F5F5;
$body_font: 'Open sans', Roboto, Segoe UI, Open Sans, sans-serif;

$color_red: #FE747D;
$color_inverse_light: #E0C7B1;
$color_black: #172714;
$color_green: #5EAD2A;

$color_app_green: #00C48C;
$color_dark_green: #0B8CAD;

$color_sunflower: #FFCF5C;
$color_inactive: #8F9BB3;

$color_dark_blue: #171738;
$color_blue_green: #0B8CAD;
$color_grey_one: #333333;
$color_grey_two: #666666;
$color_grey_three: #999999;
$color_grey: #424242;
$color_grey_four: rgba(228, 228, 228, 0.6);
$color_grey_five: #9B9B9B;
$color_gun_metal: #273043;
$color_grey_light: #DADADA;
$color_snow: #FBFBFB;

$color_neutral_black: #151522;
$color_neutral_black_opacity: rgba(21, 21, 34, 0.7);


$input-height: 50px;
$header_height: 60px;
$header-zindex: 10;
$sidebar_width: 350px;
