// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons");
// @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,600&family=Open+Sans:wght@300;400;700&display=swap');


// Variables
@import "variables";

@import "partials/mixins";

// Bootstrap
// @import "~bootstrap/scss/bootstrap";

@import "~vuetify/dist/vuetify.min.css";

@import "partials/base";

@import "partials/review_page";
@import "partials/sidebar";
@import "partials/advert";
