<template>
  <v-flex xs10 sm4 md3 xl3 class="lg5-custom">
    <v-card
      height="280px"
      class="r-c"
      :href="GetBaseUrl+'items/'+item.id+'/'+GetSlug(item.name)"
      hover
    >
      <v-img :src="'https://www.feedbackhall.com/'+item.image_url" :contain="true" height="150px"></v-img>

      <v-card-title primary-title class="font-weight-light">
        <h5>{{item.name}}</h5>
      </v-card-title>

      <v-card-actions>
        <v-rating
          v-model="rating"
          dense
          small
          readonly
          half-increments
          background-color="orange lighten-3"
          color="orange"
        ></v-rating>
      </v-card-actions>
      <v-card-actions>
        <span v-if="rating">from {{item.reviews_count}} Rating(s)</span>
        <span v-else>Not rated yet</span>
      </v-card-actions>

      <br />
    </v-card>
  </v-flex>
</template>

<script>
import Config from "../../helpers/Config";
import StringHelper from "../../helpers/StringHelper";
export default {
  props: ["item"],
  data() {
    return {
      rating: parseFloat(this.item.rating)
    };
  },
  methods: {
    GetSlug(str) {
      return StringHelper.StringToSlug(str);
    }
  },
  computed: {
    GetBaseUrl() {
      return Config.getBaseUrl();
    }
  }
};
</script>

<style>
@media (min-width: 1264px) and (max-width: 1903px) {
  .flex.lg5-custom {
    /* width: 20%;
    max-width: 20%;
    flex-basis: 20%; */
  }
}

.r-c > div {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.v-card__actions {
  padding-left: 16px;
}
</style>
