.section-404 {
    .subsection {
        // padding: 400px 100px; 
        @include MQ-MAX(M) {
            padding: 20px; text-align: center; 
        }
        .subsection-img-container {
            padding: 200px 100px; display: flex; justify-content: flex-end;
            margin-top: 30px;
            align-items: flex-end;
            @include MQ-MAX(M) {
                width: 100%; display: flex; justify-content: center; align-items: center; 
            }
        }
        .subsection-img {
            width: 200px; height: 200px; 
            @include MQ-MAX(M) {
                width: 344px; height: 344px;
            }
            img { width: 100%; height: 100%; }
        }
        .subsection-content {
            height: 100%;  padding-left: 70px; padding-right: 70px;
            @include MQ-MAX(M) {
                padding-left: 20px; padding-right: 20px; text-align: center; 
            }
            &__title {
                font-size: 70px;
            }
            &__text1 {
                margin-bottom: 60px; margin-top: 30px;
            }
            &__text2 {
                i { margin-left: 30px;}
            }
        }
        
    }
}