// .top_advert_container {
//     border: 1px solid red; height: 95px;
//     &__img {
//         height: 100%;
//         img { width: 100%; height: 100%; object-fit: contain; }
//     }
// }

.ad {
    background-color: black; height: 95px;
    &__c {
        &__i{
            border: 1px solid black; height: 95px;
            img{ height: 100% !important; width: 100%; object-fit: contain;}
            .carousel-caption {
                border: 1px solid red; bottom: 0px;
            }
        }
    }
    .carousel-indicators {
        // border: 1px solid yellow;
        bottom: -10px; padding-bottom: 0px;
        li {
            width: 8px; height: 8px;
        }
        .active {
            background-color: $fbhDarkRed;
        }
    }
}

// .flexslider {
//     border: 1px solid green; height: 95px; border: 1px solid red; background-color: black;
//     &-advert {

//         &__img {
//             // border: 1px solid yellow;
//         }
//     }
//     .slides {
//         height: 92px;
//         img { width: 100%; height: 95px; object-fit: contain;  }
//     }

// }
// .flex-caption {
//     width: 96%; height: 40px;
//     padding: 2%;
//     left: 0;
//     bottom: 10;
//     background: rgba(0,0,0,.5);
//     color: #fff;
//     text-shadow: 0 -1px 0 rgba(0,0,0,.3);
//     font-size: 14px;
//     line-height: 18px;
// }
