.section-auth {
    display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 160px 20px 140px 20px;
    @include MQ-MAX(M) {
        padding: 100px 0px 0px 0px;
    }
    .auth-container {
        width: 410px; background-color: white; padding: 40px; margin-top: 40px; border-radius: 5px;
        
        @include MQ-MAX(M) {
            width: 100%; border-radius: 0px;
        }
        
        &__bottom {
            margin-top:5px; justify-content: center; flex-wrap: wrap;
            div {
                margin: 4px 10px;
                a {
                    text-decoration: underline; color: $color_dark_blue;
                }
            }
        }
        &__button {
            margin-top: 40px; margin-bottom: 10px;
        }

        .verify-top {
            width: 100%; height: 125px; display: flex; align-items: center; justify-content: center; margin-bottom: 40px;
            &__img {

            }
        }
        .verify-bottom {
            margin-top: 20px; font-weight: 300; 
            &__otp {
                justify-content: space-between; margin-top: 40px;
                .otp-input {
                    width: 50px; height: 50px; text-align: center; padding-left:2px; padding-right: 2px;
                }
            }
        }
        .forgot-password {
            &__otp {
                justify-content: space-between; margin-top: 20px;
                
                .otp-input {
                    width: 50px; height: 50px; text-align: center; padding-left:2px; padding-right: 2px;
                }
            }
            .error-otp {
                .otp-input {
                    border: 1px solid $color_red;
                }
            }
        }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }
    }
    .auth-lower-bg {
        // height: 230px; 
        width: 100%;
        height: 100%
    }
}

.welcome {
    padding: 120px 20px 140px 20px; display: flex; justify-content: center; align-items: center;
    @include MQ-MAX(M) {
        padding: 120px 0px 140px 0px;
    }
    &-bg {
        background: $color_snow; padding: 100px; width: 800px;
        @include MQ-MAX(M) {
            padding: 20px;
        }
    }
    &-container {
        border: 1px solid $color_dark_green; padding: 50px 50px 100px 50px;
        @include MQ-MAX(M) {
            padding: 50px 20px 100px 20px;
        }
        // box-shadow: 1px 1px 4px 0px $color_grey_three;
        box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08), 0px 24px 32px rgba(50, 50, 71, 0.08);
    }
    .welcome-img-container {
        &__img {
            width: 50px; height: 50px;
            img{ width: 100%; height: 100%;}
        }
        margin-bottom: 50px;
    }
    .welcome-content {
        &__button {
            margin-top: 50px;
        }
    }
}



.loader {
    position: relative;
}

.section-loading {
    position: absolute; z-index: 100;
    width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; top: 0px; left: 0px;
    &__container {
        background-color: white; border-radius: 16px; box-shadow: 2px 4px 25px -5px $color_grey_three;
        width: 150px; height: 150px; display: flex; align-items: center; justify-content: center;
        .loader-img {
            // -moz-animation: rotate 0.8s infinite cubic-bezier(0.3, 0.82, 0.86, 0.5);
            // -webkit-animation: rotate 0.8s infinite cubic-bezier(0.3, 0.82, 0.86, 0.5);
            // animation: rotate 5s infinite cubic-bezier(0.3, 0.82, 0.86, 0.5);
            -webkit-animation: rotate 1.8s infinite linear;
            -moz-animation: rotate 1.8s infinite linear;
            animation: rotate 1.8s infinite linear;
        }
        
    }
}


@-webkit-keyframes rotate {
    0% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.error-container {
    background-color: white; padding: 10px; width: 100%;
    box-shadow: 1px 1px 4px 0px $color_grey_four; text-align: center; margin-bottom: 20px;
}
