

body {
    font-family: 'Nunito';
    // font-weight: 400;
}
.header-container {
    padding-top: 0px; padding-bottom: 0px;
}
// img {
//     vertical-align: top;
// }
// p {
//     margin-top: 0px; margin-bottom: 0px;
// }
// a {
//     text-decoration: none;
//     // @include transition(all .4s ease-in-out);
//     color: inherit;
//     cursor: pointer;

//     &:hover,
//     &:focus {
//         // color: $brand_primary;
//         text-decoration: none;
//         // outline: thin dotted #0B8CAD;
//         outline: none !important;

//     }

//     &:active, &:visited {
//         opacity: .85;
//     }

//     &:focus {
//         outline: thin dotted $color_dark_green;
//         .no-touch & {
//             outline: none;
//         }
//     }
// }

%flex-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; flex-direction: row;
}
.action-div {
    &__container {
        flex-direction: row; display: flex;
        // border: 1px solid green;
        align-items: center;
        &__comment {
            // border: 1px solid red;
            flex-direction: row; display: flex;
            // height: 30px; align-items: center;
            margin-right: 20px;
        }
        &__like {
            .thumbs-down {
                margin-left: 20px;
            }
            padding-right: 20px;
        }
        &__view {
            a{
                border: 1px solid $fbhDarkRed; padding: 4px 8px; border-radius: 6px;
                color: $fbhDarkRed;
            }
            padding-right: 20px;
        }
        &__flag {
            a {
                // border: 1px solid green;
                display: flex; justify-content: center; align-items: center;
                color: $color_grey_dark;
                // padding-top: 10px
            }
        }
    }

}
