
.btn-outline-white {
    background: transparent; border: 1px solid white;
    color: white;
    &:hover, &:focus {
        opacity: 0.7; color: white;
    }
}
.btn-dark-blue {
    background-color: $color_dark_blue; border-radius: 4px; border: 1px solid $color_dark_blue;
    color: white; _height: $input-height; padding: 12px 10px;
    &:hover {
        color: white; opacity: 0.9;
    }
    &:focus {
        color: white; opacity: 0.9;
    }
    @include MQ-MAX(M) {
       
    }
}
.btn-outline-dark-blue {
    background-color: white; border-radius: 4px; 
    color: $color_dark_blue; height: $input-height; border: 1px solid $color_dark_blue;
    
}
.btn-small-dark-blue {
    background-color: $color_dark_blue; border-radius: 4px; border: 1px solid $color_dark_blue;
    color: white; @include transition(all .4s ease-in-out);
    &:hover {
        color: white; opacity: 0.8;
    }
    &:focus {
        color: white; opacity: 0.8;
    }
    
}
.btn-outline-cancel {
    border: 1px solid $color-grey-light; height: $input-height; color: $color_red;
}
.btn-disabled {
    opacity: 0.6; cursor: not-allowed !important;
}
.btn-accordion {
    display: flex; align-items: center; padding-top: 20px; padding-bottom: 20px;
    &:focus {
        box-shadow: none;
    }
    &__icon {
        width: 6px; height: 12px; margin-right: 1.5rem; 
        img { width: 100%; height: 100%; }
    }
}
.accordion-active {
    width: 12px; height: 6px; margin-right: 1.2rem;
}
.bank-container {
    background: linear-gradient(225deg, rgba(61, 99, 157, 0.7) 3.26%, #343D63 100%); border-radius: 10px;
    padding: 15px 20px; margin-bottom: 20px; 
}

// a:link,
// button {
//     -webkit-tap-highlight-color: rgba($brand_accent, .35);
//     -moz-tap-highlight-color: rgba($brand_accent, .35);
// }

// button {
//     outline: 0;
//     padding: 0;
//     border: none;
//     box-shadow: none;
//     width: auto;
//     height: auto;
//     color: inherit;
//     background: 0 0;
//     cursor: pointer;
//     text-align: center;
//     @include transition(all .6s ease-in-out);

//     &:focus, &:visited {
//         outline: none;
//     }
// }

// .btn {
//     border-radius: 40px;
//     padding: 10px 22px;
//     font-size: 12px;
//     letter-spacing: .125em;
//     font-weight: 700;
//     background-color: transparent;
//     color: white;
//     fill: $border_light;
//     text-transform: uppercase;
//     border: none;
//     cursor: pointer;
//     display: inline-block;
//     position: relative;
//     max-width: 100%;
//     box-shadow: 0px 0px 0px transparent;
//     @include transition(all .4s ease-in-out);
//     text-decoration: none !important;
    
//     @include MQ(M) {
//         padding: 12px 32px;
        
//         + .btn:not(.btn-block) {
//             margin-left: 1.5rem;
//         }
//     }
    
//     &:hover,
//     &:focus {
//         text-decoration: none !important;
//         box-shadow: 2px 5px 10px 0 rgba($brand_black, .4);
//         .no-touch & {
//             outline: none;
//         }
//     }
    
//     .fa {
//         margin-left: 3px;
//         margin-right: 3px;
//     }
// }

// .btn-link {
//     cursor: pointer;
//     font-size: 1em;
//     display: inline-block;
//     text-decoration: underline;
//     color: $brand_accent;
        
//     &:hover,
//     &:focus {
//         color: $primary;
//         text-decoration: none;
//     }
    
//     &:active, &[disabled] {
//         color: $ash;
//         outline: none;
//     }
// }

// .btn-icon {
//     width: 32px;
//     height: 32px;
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 50%;
//     fill: $brand_black;
//     opacity: .75;
//     border: none;
//     background-color: transparent;
    
//     &:hover, &:hover {
//         background-color: $blue_light;
//         opacity: 1;
//     }
// }

// .btn-default {
//     background-color: transparent;
//     color: inherit;

//     &:hover,
//     &:focus,
//     &:visited {
//         background-color: $border_light;
//         color: $brand_black;
//     }
// }

// .btn-trans-blue{
//     border: 1px solid $blue;
//     background-color: transparent;
//     color: $blue;

//     &:hover{
//         background-color: $blue;
//         color: white;
//     }
// }

// .btn-trans-bw {
//     border: 1px solid $border_light;
//     background-color: transparent;
//     color: $bg_black;

//     &:hover{
//         background-color: $primary;
//         color: White;
//         border-color: transparent;
//     }
// }

// .btn-trans-primary{
//     border: 1px solid $primary;
//     background-color: transparent;
//     color: $primary;

//     &:hover{
//         background-color: $primary;
//         color: white;
//     }
// }

// .btn-trans-gg{
//     border: 1px solid $green;
//     background-color: transparent;
//     color: $green;

//     &:hover{
//         background-color: $green;
//         color: white;
//     }
// }

// .btn-primary{
//     background-color: $primary;
//     min-width: 170px;

//     &:hover{
//         background-color: $accent;
//     }
// }

// .btn-blue-black{
//     background-color: $primary;
    
//     &:hover{
//         color: $bg_white;
//         background-color: $accent;
//     }
// }

// .walletControlGroup {
//     display: inline-flex;
//     clear: both;
//     border: 1px solid $primary;
//     border-radius: 35px;
//     overflow: hidden;

//     @include MQ-MAX(S) {
//         margin-bottom: 20px;
//     }
// }

// .walletControlBtn {
//     color: $primary;
//     padding: 10px 15px;
//     font-size: 12px;
//     font-weight: 700;
//     text-decoration: uppercase;
    
//     + .walletControlBtn {
//         border-left: 1px solid $border_light;
//     }
    
//     &:hover, &:focus{
//         color: white;
//         background: $primary;
//         border-color: $primary;
//     }
// }

// .statusToggle {
//     color: white;
//     background-color: $secondary;
//     @include flexbox();
//     align-items: center;
//     padding: 6px 14px;

//     &.statusActive {
//         background-color: $brand_accent;
//     }
// }

// .statLabel {
//     flex: 1; 
//     margin-left: 10px;

//     &::before {
//         line-height: 1;
//         content: "Play";
//     }

//     .statusActive & {
//         &::before {
//             content: "pause";
//         }   
//     } 

// }