.custom-input-two {
    display: flex; 
    border: 1px solid $color_grey_light; 
    border-radius: 5px; position: relative;
    &__input {
        height: $input-height; padding-right: 4.5rem;
        // border-top-right-radius: 0px; border-bottom-right-radius: 0px; 
        // border-right: 0px;
        border: none;
    }
    &__text {
        // border: 1px solid $color_grey_light; border-left: 0px;
        display: flex; justify-content: center; align-items: center; 
        border-top-right-radius: 5px; border-bottom-right-radius: 5px; padding-left: 1.1rem; padding-right: 1.1rem;
        color: $color_grey_three; position: absolute; right: 0px; height: 100%
    }
}
.custom-input-password {
    display: flex; 
    border: 1px solid $color_grey_light; 
    border-radius: 5px; position: relative;
    &__input {
        height: $input-height; padding-right: 4.5rem;
        border: none;
    }
    &__img {
        display: flex; justify-content: center; align-items: center; 
        border-top-right-radius: 5px; border-bottom-right-radius: 5px; padding-left: 1.1rem; padding-right: 1.1rem;
        color: $color_grey_three; position: absolute; right: 0px; height: 100%; font-size: 1.2rem;
    }
}
.custom-input-copy {
    display: flex; width: 100%;
    border-radius: 5px; position: relative;
    &__left {
        height: $input-height; flex: 1;
        border-radius: 3.5px 0px 0px 3.5px; 
        border-right: 0px; display: flex; justify-content: center; align-items: center; 
        border: 1px solid $color_grey_light; background-color: $color_grey_four; padding-left: 70px;
    }
    &__right {
        // border: 1px solid $color_grey_light; border-left: 0px;
        display: flex; justify-content: center; align-items: center; 
        border-radius: 0px 3.5px 3.5px 0px; padding-left: 1.1rem; padding-right: 1.1rem;
        color: white; right: 0px; height: 100%; background-color: $color_dark_blue;
        height: $input-height; border: none;
    }
}
.custom-input {
    border: 1px solid $color_grey_light;
    height: $input-height;
}
.custom-select2 {
    height: $input-height !important; line-height: 2.5 !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color_grey_three !important;
    opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color_grey_three !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $color_grey_three !important;
}
select.form-control {
    @include appearance(none);
    background: white url(../images/icons/arrow-down.svg) right center no-repeat;
    background-position: 95% 50%;
    padding-right: 25px;
    &:focus {
        outline: none;
        background: white url(../images/icons/arrow-down.svg) right center no-repeat;
    }
}

.custom-control {
    padding-left: 35px;padding-right: 7px;cursor: pointer; 
    font-size: 11px; color: $color_neutral_black_opacity;
    display: flex; align-items: center; flex-direction: row;
    input {
        position: absolute; z-index: -1; opacity: 0;
    }
    &__indicator {
        position: absolute; top: 0px;border-radius: 6px; left: 0; height: 24px;
        width: 24px;background: white; border: 1px solid $color_grey_three; 
    }
    &:hover input ~ &__indicator,
    & input:focus ~ &__indicator {
        // background: rgba(6,102,171,1.00); 
    }
    & input:checked ~ &__indicator {
        background: $color_dark_blue;
    }
    &:hover input:not([disabled]):checked ~ &__indicator,
    & input:checked:focus ~ &__indicator {
        background: $color_dark_blue;
    }
    &__indicator:after {
        content: '';
        position: absolute; display: none;
    }
    & input:checked ~ &__indicator:after {
        display: block;
    }
    &--checkbox &__indicator:after {
        left: 8px; top: 2px; width: 6px; height: 14px; border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}