
.header-mobile {
    position: fixed; z-index: 5000; 
    width: 100%; 
    .header-logo {
        display: flex; justify-content: space-between; height: 12vh; z-index: 10;
        padding: 10px 15px; align-items: center; background: white; 
        &__brand {
            display: flex; justify-content: center; align-items: center; font-size: 28px;
        }
    }
    .header-content {
        justify-content: flex-end; display: flex; flex-direction: column;
        height: 88vh; position: relative;background: white; 
        .header-body {
            flex: 3.5; padding: 10px 15px; display: flex; flex-direction: column;z-index: -1;
            justify-content: flex-end; align-items: center; 
            @include MQ-MAX(XS) {
                flex: 10; 
            }
            // border: 1px solid red;
            &__btn {
                width: 100%;
            }
            &__auth {
                padding:12px;
            }
            &__item {
                border: 1px solid $color_grey_light; width: 100%; text-align: center;padding:12px; border-radius: 4px;
                
                a{display: flex; flex-direction: row; align-items: center; justify-content: center;}
            }
            div {
                margin-bottom: 15px;
            }
        }
        .header-footer {
            flex: 1; padding: 70px 30px; display: flex; flex-direction: column;
            justify-content: flex-end; 
            @include MQ-MAX(XS) {
                flex: 1; padding: 50px 30px;
            }
            .header-social {
                @include MQ-MAX(M) {
                    flex:2; width: 100%; justify-content: flex-end;
                    align-items: flex-end; padding: 20px;
                    &__img {
                        border: 1px solid $color_grey_four; border-radius: 100%; height: 36px; width: 36px;
                        justify-content: center; align-items: center; display: flex; margin: 0px 10px;
                    }
                }
            }
        }
    }
    .hide-content {
        transform: translate(0px, -88vh);
        margin-top: -88vh; z-index: -1; @include transition(all 0.5s ease-in-out);
        // transition: all 0.5s ease-in-out;
    }
    .show-content {
        margin-top: 0vh; transform: translate(0px, 0vh); 
        // transition: all 0.5s ease-in-out;
        z-index: -1;
        @include transition(all 0.5s ease-in-out)
    }
    
}
.longBar {
    height: 2px; background: $color_dark_blue;
}
.shortBar {
    height: 2px; background: $color_dark_blue;
}
.collapseHeader {
    background: transparent;  
    border-radius: 5px;height: 32px; width: 32px; cursor: pointer;
    // display: flex;flex-direction: column; justify-content: center;
    padding: 0px 5px; border: none;
    .longBar {
        width: 100%; transition: all ease-out 0.4s; 
    }
    .shortBar {
        margin-top: 7px; margin-bottom: 7px; width: 100%; 
    }
    &:focus, &:active {
        outline: none;
    }
}
.collapseHeaderActive {
    background: transparent;  border-radius: 5px; height: 32px; width: 32px; cursor: pointer;border: none; position: relative; padding: 0px 10px;
    .longBar {
        position: absolute;top:45%; left: 0px;width: 100%; background: $color_grey_three;
        transition: all ease-out 0.5s;
        &:nth-child(1) {
            transform: rotate(40deg);
        }
        &:nth-child(3) {
            transform: rotate(-40deg);
        }
    }
    .shortBar {
        display: none;
    }
    &:focus, &:active {
        outline: none;
    }
}

.custom-nav {
    height: 100px; padding-left: 62px; padding-right: 62px;
    
    @include MQ-MAX(M) {
        padding-left: 20px; padding-right: 20px; margin: 0px; height: auto;
        // width: 97%;
    }
}

.nav-middle{
    margin-left: 30px;
    @include MQ-MAX(M) {
        margin-left: 0px; width: 100%; flex: 1; 
    }
    li{
        margin-left: 20px; margin-right: 20px;
        @include MQ-MAX(M) {
            margin-left: 0px; margin-right: 0px;
        }
        a{ color: white }
    }
}
.nav-right {
    @include MQ-MAX(M) {
        width: 100%; justify-content: flex-start !important; 
        display: flex; align-items: center;
        flex-direction: column-reverse; flex: 1;  
    } 
}
.nav-middle-white {
    margin-left: 30px;
    @include MQ-MAX(M) {
        margin-left: 0px; width: 100%; flex: 1;
    }
    li{
        margin-left: 10px; margin-right: 10px;
        @include MQ-MAX(M) {
            margin-left: 0px; margin-right: 0px;
        }
        a{ color: $color_dark_blue !important; display: block; 
             padding: 20px !important; font-weight: 300; 
             &:focus {
                color: $color_dark_green !important;
             }
             &:hover {
                color: $color_dark_green !important;
             }
        }
        .a-active {
            position: relative;
            &:after {
                content: ''; border-radius: 2px 2px 0px 0px; height: 4px; width: 100%;
                position: absolute; box-shadow: 0px 3px 4px 1px $color_grey_light; left: 0px; bottom: 0px;
                z-index: 2; 
                background: $color_dark_green;
            }
        }
    }
}
.custom-collapse {
    // width: 80% !important; 
    // border: 1px solid red;
    .nav-item {
        
        @include MQ-MAX(M) {
            width: 100%;line-height: 40px; border: 1px solid $color_grey_light; margin-top:4px; border-radius: 5px;
        }
    }
    @include MQ-MAX(M) {
        height: 90vh; padding-right: 0px;
        display: flex;
        flex-direction: column-reverse !important; text-align: center;
    }
}

.dropdown-container {
    padding: 15px; border: none; box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.1); margin-top: 10px;
    .dropdown-header {
        display: flex; align-items: center; border-bottom: 1px solid $color_grey_light; padding:0px 0px 15px 0px;
        &__img {
            width: 40px; height:40px; border-radius: 50%; overflow: hidden; margin-right: 10px;
            img { width: 100%; height: 100%;}
        }
    }
    .dropdown-content {
        padding:10px 0px 0px 0px; 
        a {
            // border:1px solid grey; 
            text-align: left; padding: 5px 0px;
            &:hover {
                color: $color_blue_green !important; padding-left: 10px;
                // opacity: 0.8
            }
            &:active {
                background-color: white;
                color: $color_blue_green
            }
        }
    }
}
.dropdown-item.active, .dropdown-item:active {
    background-color: white;
    color: $color_blue_green;
    // color: #fff;
    // text-decoration: none;
    // background-color: #007BFF;
}