/*
    Single Reviews page
*/
.review-heading {
    display: flex; flex-direction: row; font-size: 17px; margin-bottom: 15px; flex-wrap: wrap;
    // border: 1px solid red;
    &__left {
        // flex: 1;
        font-weight: 600;
    }
    &__middle {
        // flex: 1;
        display: flex; flex-direction: row; justify-content: center; align-items: center;
        &__name {
            display: flex; flex-direction: row;
            align-items: center;
        }
        &__dot {
            padding: 0px 10px 0px 10px; font-size: 8px; color: $color_grey_three;
        }
    }
}
.item-description {
    line-height: 28px;
    h3 {
        font-size: 1.5em; font-weight: 600; color: $fbhDarkRed;
    }
}
.user-review {
    padding-top: 0px;
    &__img {
        // border: 1px solid red;
        display: flex; justify-content: center; margin-bottom: 20px;
        img {
            max-height: 200px; border-radius: 8px; object-fit: contain;
        }
    }
    &__body {
        margin-bottom: 15px;
    }
}
.actions {
    &__one {
        @extend %flex-row; margin-bottom: 20px;
        // justify-content: space-between;
        &__comment {
            padding-right: 20px;
        }
        &__like {
            .thumbs-down {
                margin-left: 20px;
            }
            padding-right: 20px;
        }
        &__flag {
            .flag {
                border-radius: 8px; border: 1px solid rgba(228, 228, 228, 0.9); padding-left: 12px; padding-right: 12px;
            }
        }
    }
}
.review-container {
    &__head {
        font-size: 16px;
        &__img {
            min-height: 200px; margin-bottom: 15px;
        }
    }
}

.review-summary {
    h5 {
        font-weight: 600; color: $fbhDarkRed; margin-bottom: 15px;
    }
    &__ul {
        &__li {
            width: '100%'; margin-bottom: 10px;
        }
    }
}

/*
    Single Reviews page ends
*/

/* Featured review */
.space-container {
    font-family: 'Nunito';
    h4 {
        font-weight: 600; font-size: 1.7em; margin-top: 0px; margin-bottom: 8px;
    }
}
.fbh-h-box {
    @include MQ-MAX(S) {
        padding-right: 10px;
        padding-left: 10px;
    }
    .articles {
        padding-right: 4px;
        @include MQ-MAX(S) {
            margin-top: 10px;padding-left: 5px;padding-right: 5px;
        }
    }
}
.best_cat {
    // border: 1px solid red;
    margin-top: 20px;
    &__layout {
        margin-top: 20px;
        &__card {
            h4 {
                font-weight: 600; font-size: 1.7em; margin-top: 0px; margin-bottom: 8px;
            }
            // border: 1px solid green !important;
            width: 100%;
            box-shadow: 0 4px 10px 2px rgba(0,0,0,0.1);
            transition: 0.3s; border-radius: 10px; padding:20px;
            // padding: 0px 20px;
        }
    }
}
/* Featured review ends */

