.sidebar {

    padding: 0px 20px 0px 20px;
    @include MQ-MAX(L) {
        margin-top: 30px; padding: 0px 10px 0px 10px;
    }
    h4 {
        font-weight: 600;
        color: $fbhDarkRed; padding: 0px; margin-bottom: 20px;margin-top:0px;
        padding-top: 5px;
    }
    &__second {
        margin-top: 20px !important;
    }
}
