.error-border {
    border: 1px solid $color_red;
}
.error-message {
    color: $color_red; font-size: 12px; margin-top: 5px; margin-bottom: 5px; text-align: center; width: 100%;
}
.bg-snow {
    background-color: $color_snow !important;
}
.bg-white {
    background-color: $color_white !important;
}
.border-bottom {
    border-bottom: 1px solid $color_grey_four;
}
.border-xs-bottom {
    @include MQ-MAX(M) {
        border-bottom: 1px solid $color_grey_four;
    }
}
.font-roboto {
    font-family: 'Roboto';
}
.font-montserrat {
    font-family: 'Montserrat';
}
.font-open-sans {
    font-family: 'Open Sans';
}
.font-11 {
    font-size: 11px !important;
}
.font-sm {
    font-size: 12px !important;
}

.font-default {
    font-size: 14px !important;
}

.font-md {
    font-size: 16px !important;
}
.font-28 {
    font-size: 28px !important;
}
.font-24-18 {
    font-size: 18px !important;

    @include MQ(M) {
        font-size: 24px !important;
    }
}
.font-16-14 {
    font-size: 14px !important;

    @include MQ(M) {
        font-size: 16px !important;
    }
}
.font-lg {
    font-size: 16px !important;

    @include MQ(M) {
        font-size: 21px !important;
    }
}
.font-min-medium {
    font-size: 18px !important;
    @include MQ(M) {
        font-size: 22px !important;
    }
}
.font-medium {
    font-size: 20px !important;
    @include MQ(M) {
        font-size: 28px !important;
    }
}
.font-min-large {
    font-size: 18px !important;
    @include MQ(M) {
        font-size: 20px !important;
    }
}
.font-large {
    font-size: 34px !important;
    @include MQ(M) {
        font-size: 48px !important;
    }
}
.font-bold {
    font-weight: bold;
}
.text-inactive {
    color: $color_inactive;
}
.text-dark {
    color: $color_dark;
}
.text-sunflower {
    color: $color_sunflower;
}
.text-underline {
    text-decoration: underline;
}
.text-dark-blue {
    color: $color_dark_blue;
}
.text-blue-green {
    color: $color_blue_green;
}
.text-grey {
    color: $color_grey;
}
.text-neutral-black {
    color: $color_neutral-black;
}
.text-grey-light {
    color: $color_grey_light;
}
.text-gun-metal {
    color: $color_gun_metal;
}
.text-grey-one {
    color: $color_grey_one;
}
.text-grey-two {
    color: $color_grey_two;
}
.text-grey-three {
    color: $color_grey_three;
}
.text-dark-green {
    color: $color_dark_green;
}
.text-app-green {
    color: $color_app_green;
}
.icon-xs {
    width: 11px; height: 11px; margin-top: -2px;
}

.avatar {
    border-radius: 100%; height: 35px; width: 35px; display: flex; justify-content: center;align-items: center;
    background-color: rgba(23, 23, 56, 0.7);
}
.divider-gradient {
    height: 2px; width: 100%; background: linear-gradient(0deg, #0EACD2 0%, #9833FD 100%);
    opacity: 0.6; margin: 10px 0px;
}
.line-height-22 {
    line-height: 22px;
}
.line-height-38 {
    line-height: 38px;
}
.no-padding-t {
    @include MQ-MAX(M) {
        padding-top: 0px !important;
    }
}