.bg-image {
    background: url('../../images/background.svg') !important;
}
.bg-image-dark {
    background: url('../../images/background_dark.svg');
}
.bg-logo {
    background: url('../../images/bg_logo2.svg');
    background-size: cover;
}
.bg-logo2 {
    background: url('../../images/bg_logo3.svg');
    background-size: cover;
}
.custom-card {
    border-radius: 4px; background-color: white;
    padding: 40px;
    @include MQ-MAX(M) {
        padding: 15px;
    }
}
.no-border-bottom {
    border-bottom: none !important;
}