<template>
  <div>
    <div>
      <hr class="colorgraph" />
      <v-container grid-list-xl>
        <h4 class="display-1 font-weight-thin">Automatically derived from consumer ratings</h4>
        <pulse-loader :loading="bests.length<=0" :color="'red'"></pulse-loader>
        <v-layout row wrap>
          <best-in-category-card v-for="item in bests" :item="item" :key="item.id"></best-in-category-card>
        </v-layout>
      </v-container>
    </div>
  </div>
</template>

<script>
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import ReviewCard from "./reviews/ReviewCard";
import BestInCategoryCard from "./category/BestInCategoryCard";
import CategoryCard from "./category/CategoryCard";
import Config from "../helpers/Config";
export default {
  created() {
    axios
      .get(Config.getBaseUrl() + "api/items/bests")
      .then(res => {
        this.bests = res.data.data;
      })
      .catch(err => {
        console.log(err);
      });
  },
  components: { ReviewCard, BestInCategoryCard, CategoryCard, PulseLoader },

  data: () => ({
    drawer: null,
    featured: [],
    latest: [],
    bests: []
  }),

  props: {
    source: String
  },
  computed: {
    binding() {
      const binding = {};

      //if (this.$vuetify.breakpoint.mdAndUp) binding.column = true;

      return binding;
    }
  }
};
</script>
<style>
.fbh-h-box .col-sm-4 {
  padding-right: 5px;
  padding-left: 5px;
}
.theme--light.application {
  background: white !important;
}
.home-info-card {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
  border: none;
  height: 270px;
  border-radius: 10px;
  padding: 10px;
}

.colored-card-text {
  width: 80%;
  font-size: 19px;
  font-weight: 600;
  line-height: 32px;
  color: #fff;
  padding: 30px;
}

.colored-card {
  background: linear-gradient(315deg, #ec5252 0, #853c6c 100%);
  color: white;
}
</style>
