<template>
  <div>
    <div>
      <v-container grid-list-xl>
        <h4 class="display-1 font-weight-thin">Browse Items by Categories</h4>
        <pulse-loader :loading="categories.length<=0" :color="'red'"></pulse-loader>
        <v-layout row wrap>
          <category-card v-for="category in categories" :category="category" :key="category.id"></category-card>
        </v-layout>
      </v-container>

      <hr class="colorgraph" />
    </div>
  </div>
</template>

<script>
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import CategoryCard from "./category/CategoryCard";
import Config from "../helpers/Config";

export default {
  created() {
    axios
      .get(Config.getBaseUrl() + "/api/category/level-two")
      .then(res => {
        this.categories = res.data.data;
      })
      .catch(err => {
        console.log(err);
      });
  },
  components: { CategoryCard, PulseLoader },

  data: () => ({
    categories: []
  }),

  props: {
    source: String
  },
  computed: {
    binding() {}
  }
};
</script>
<style>
</style>
