<template>
  <div>
    <div>
      <v-container grid-list-xl>
        <h4 class="display-1 font-weight-thin">Browse Items</h4>
        <pulse-loader
          :loading="(sub_categories && sub_categories.length<=0)&&(items && items.length<=0)"
          :color="'red'"
        ></pulse-loader>
        <div v-show="sub_categories && sub_categories.length>0">
          <v-layout row wrap>
            <category-card
              v-for="category in sub_categories"
              :category="category"
              :key="category.id"
            ></category-card>
          </v-layout>
        </div>
        <div v-show="items && items.length>0">
          <v-layout row wrap>
            <item-card v-for="item in items" :item="item" :key="item.id"></item-card>
          </v-layout>
        </div>
      </v-container>
      <v-container grid-list-xl v-show="items && items.length>0"></v-container>

      <hr class="colorgraph" />
    </div>
  </div>
</template>

<script>
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import CategoryCard from "./category/CategoryCard";
import ItemCard from "./item/ItemCard";
import Config from "../helpers/Config";

export default {
  props: ["category_id"],
  created() {
    console.log('Got here')
    axios
      .get(Config.getBaseUrl() + "api/category/sub/" + this.$props.category_id)
      .then(res => {
        this.category = res.data.category;
        if (res.data.sub_categories) {
          this.sub_categories = res.data.sub_categories;
        }
      })
      .catch(err => {
        console.log(err);
      });

    axios
      .get(
        Config.getBaseUrl() +
          "api/category/" +
          this.$props.category_id +
          "/items"
      )
      .then(res => {
        this.items = res.data.data;
      })
      .catch(err => {
        console.log(err);
      });
  },
  components: { CategoryCard, ItemCard, PulseLoader },

  data: () => ({
    category: null,
    sub_categories: [],
    items: []
  }),

  computed: {
    binding() {}
  }
};
</script>
<style>
</style>
