<template>
  <div>
    <div>
      <v-container grid-list-xl class="space-container" style="margin-bottom: 0px">
        <h4 class="">Featured Reviews</h4>
        <pulse-loader :loading="featured.length<=0" :color="'#6B0707'"></pulse-loader>
        <v-layout row wrap style="">
          <review-card
            v-for="review in featured.slice(0,6)"
            :review="review"
            :key="review.id"
            :status="GetLoginStatus"
          ></review-card>
        </v-layout>
      </v-container>

      <div class="container space-container" style="padding-top: 0px">
        <!-- <v-layout row wrap>

        </v-layout>-->
        <div class="row fbh-h-box">
          <div class="col-sm-4">
            <a :href="GetBaseUrl()+'/register'">
              <div class="card home-info-card colored-card">
                <div
                  class="colored-card-text"
                >Join our community of informed consumers who are shaping the future of retail and services</div>
              </div>
            </a>
          </div>
          <div class="col-sm-8 articles">
            <div class="card home-info-card " style="overflow: hidden">
              <pulse-loader :loading="articles.length<=0" :color="'#6B0707'"></pulse-loader>
              <article-card
                v-for="article in articles.slice(0,3)"
                :article="article"
                :key="article.id"
              ></article-card>
            </div>
          </div>
        </div>
      </div>
      <div>
        <v-alert class="alert"
          v-model="alert"
          border="left"
          close-text="Close"
          color="red accent-4"
          dark
          dismissible
        >
          <a
            style="color:white"
            :href="GetBaseUrl()+'business-signup'"
          >Are you a business owner? Experience the power of real time, genuine feedback. Get a business account for free.</a>
        </v-alert>
      </div>
      <!-- <hr class="colorgraph" /> -->
      <v-container grid-list-xl class="space-container best_cat">
        <v-layout row wrap class="best_cat__layout">
          <v-card style="" class="best_cat__layout__card">
            <h4 class="">Best in Categories</h4>
            <pulse-loader :loading="bests.length<=0" :color="'#6B0707'"></pulse-loader>
            <v-card-text>
              <p>Automatically derived from consumer ratings</p>
            </v-card-text>
            <v-card-text
              column
              class="scroll-y"
              style="height:400px; overflow-y: scroll; overflow-x: hidden;"
            >
              <v-layout row wrap>
                <best-in-category-card v-for="item in bests" :item="item" :key="item.id"></best-in-category-card>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-layout>
      </v-container>
      <v-container grid-list-xl class="space-container">
        <h4 class="">Recent Activities</h4>
        <pulse-loader :loading="latest.length<=0" :color="'#6B0707'"></pulse-loader>
        <v-layout row wrap>
          <review-card
            v-for="review in latest"
            :review="review"
            :key="review.id"
            :status="GetLoginStatus"
          ></review-card>
        </v-layout>
      </v-container>
    </div>
  </div>
</template>

<script>
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import ReviewCard from "./reviews/ReviewCard";
import BestInCategoryCard from "./category/BestInCategoryCard";
import ArticleCard from "./articles/ArticleCard";
import CategoryCard from "./category/CategoryCard";
import Config from "../helpers/Config";
export default {
  created() {
    axios
      .get(Config.getBaseUrl() + "api/reviews/featured")
      .then(res => {
        this.featured = res.data.data;
      })
      .catch(err => {
        console.log(err);
      });

    axios
      .get(Config.getBaseUrl() + "api/reviews?take=12")
      .then(res => {
        this.latest = res.data.data;
      })
      .catch(err => {
        console.log(err);
      });

    axios
      .get(Config.getBaseUrl() + "api/pages/sections/6")
      .then(res => {
        this.articles = res.data.data;
      })
      .catch(err => {
        console.log(err);
      });

    axios
      .get(Config.getBaseUrl() + "api/items/bests")
      .then(res => {
        this.bests = res.data.data;
      })
      .catch(err => {
        console.log(err);
      });
  },
  components: {
    ReviewCard,
    BestInCategoryCard,
    CategoryCard,
    ArticleCard,
    PulseLoader
  },

  data: () => ({
    drawer: null,
    featured: [],
    latest: [],
    bests: [],
    articles: [],
    alert: true
  }),

  props: {
    source: String,
    l_status: String
  },
  computed: {
    GetLoginStatus() {
      return this.$props.l_status;
    }
  },
  methods: {
    GetBaseUrl() {
      return Config.getBaseUrl();
    }
  }
};
</script>
<style>
.fbh-h-box {

}
.fbh-h-box .col-sm-4 {
  /* padding-right: 10px;
  padding-left: 10px; */
}
.theme--light.application {
  background: white !important;
}
.home-info-card {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
  border: none;
  height: 270px;
  border-radius: 10px;
  padding: 10px;
}

.colored-card-text {
  width: 80%;
  font-size: 19px;
  font-weight: 600;
  line-height: 32px;
  color: #fff;
  padding: 30px;
}

.colored-card {
  background: linear-gradient(315deg, #ec5252 0, #853c6c 100%);
  color: white;
}

.space-container {
  margin-top: 0px;
  margin-bottom: 15px;
}
.alert {
   background: linear-gradient(315deg, #ec5252 0, #6B0707 100%); padding-top: 5px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px;
   margin-bottom: 20px;
}
</style>
