<template>
  <div>
    <div>
      <v-container grid-list-xl v-show="items && items.length>0">
        <h4 class="display-1 font-weight-thin">Search Results</h4>
        <pulse-loader :loading="items.length<=0" :color="'red'"></pulse-loader>
        <v-layout row wrap>
          <item-card v-for="item in items" :item="item" :key="item.id"></item-card>
        </v-layout>
      </v-container>

      <hr class="colorgraph" />
    </div>
  </div>
</template>

<script>
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import ItemCard from "./item/ItemCard";
import Config from "../helpers/Config";

export default {
  props: ["term"],
  created() {
    axios
      .get(Config.getBaseUrl() + "api/items/search?s=" + this.$props.term)
      .then(res => {
        this.items = res.data.data;
      })
      .catch(err => {
        console.log(err);
      });
  },
  components: { ItemCard, PulseLoader },

  data: () => ({
    items: []
  }),

  computed: {
    binding() {}
  }
};
</script>
<style>
</style>
