<template>
  <v-flex xs7 sm4 md4>
    <v-card>
      <v-img
        gradient="to top right, rgba(100,115,201,.33), rgba(72, 25, 47, 0.7)"
        :src="'https://www.feedbackhall.com/'+item.category_image_url"
        height="150px"
      >
        <v-layout column fill-height>
          <v-card-title class="white--text pl-2 pt-2">
            <div class="title pl-5 pt-5">{{item.category}}</div>
          </v-card-title>
        </v-layout>
      </v-img>

      <v-list two-line>
        <v-list-tile>
          <v-list-tile-action>
            <v-avatar size="40px">
              <img :src="'https://www.feedbackhall.com/'+item.image_url" alt="Avatar" />
            </v-avatar>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>
              <a :href="GetBaseUrl+ 'items/'+item.id+'/'+GetSlug(item.name)">{{item.name}}</a>
            </v-list-tile-title>

            <v-list-tile-sub-title>
              <v-rating
                v-model="rating"
                dense
                small
                readonly
                half-increments
                background-color="orange lighten-3"
                color="orange"
              ></v-rating>
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-divider inset></v-divider>
        <v-list-tile>
          <v-list-tile-action></v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>from {{item.reviews_count}} rating(s)</v-list-tile-title>
            <v-list-tile-sub-title>
              <a :href="GetBaseUrl+ 'category/'+item.category_id+'/'+GetSlug(item.category)">View</a>
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-card>
  </v-flex>
</template>

<script>
import StringHelper from "../../helpers/StringHelper";
import Config from "../../helpers/Config";
export default {
  props: ["item"],
  data() {
    return {
      rating: parseFloat(this.item.rating)
    };
  },
  methods: {
    GetSlug(str) {
      return StringHelper.StringToSlug(str);
    }
  },
  computed: {
    GetBaseUrl() {
      return Config.getBaseUrl();
    }
  }
};
</script>

<style>
</style>
