<template>
  <v-flex xs10 sm4 md3>
    <v-card
      :href="GetBaseUrl+'category/'+category.id+'/'+GetSlug(category.name)"
      class="mx-auto"
      height="300px"
      max-width="344"
    >
      <v-img :src="'https://www.feedbackhall.com/'+category.image_url" height="200px"></v-img>

      <v-card-title>
        <div>{{category.name}}</div>
      </v-card-title>
    </v-card>
  </v-flex>
</template>

<script>
import Config from "../../helpers/Config";
import StringHelper from "../../helpers/StringHelper";
export default {
  props: ["category"],
  data: () => ({
    show: false
  }),
  methods: {
    GetSlug(str) {
      return StringHelper.StringToSlug(str);
    }
  },
  computed: {
    GetBaseUrl() {
      return Config.getBaseUrl();
    }
  }
};
</script>

<style>
</style>
