<template>
  <v-flex xs12 sm4 md2 xl2 class="lg5-custom">
    <v-card hover height="340px" class="r-c">
      <a :href="GetBaseUrl+'reviews/show/'+review.id+'/'+GetSlug(review.item)">
        <v-img style="background-color:rgba(228, 228, 228, 0.2);"
            :src="'https://www.feedbackhall.com/'+review.item_image_url"
            :contain="true"
            height="140px"
        ></v-img>
      </a>
      <v-card-title primary-title class="title">
        <a :href="GetBaseUrl+'reviews/show/'+review.id+'/'+GetSlug(review.item)">
          <span>{{review.item}}</span>
        </a>
      </v-card-title>

      <v-card-text v-show="true">
        <div style="font-size:.9em; max-height:75px; overflow:hidden">
          <v-list-tile-title style="justify-content: space-between; display: flex">
            <div style="color: #6B0707">{{review.user_fullname}}</div>
            <small v-html="review.created_at" style="font-weight: 300"></small>
          </v-list-tile-title>
          {{GetExcerpt(review.body).text}}
        </div>
      </v-card-text>

      <v-card-actions>
        <span class="caption">Rating:</span>
        <v-rating
          v-model="rating"
          dense
          small
          readonly
          half-increments
          background-color="orange lighten-3"
          color="orange"
        ></v-rating>
      </v-card-actions>
      <v-card-actions style="margin-bottom:2px; position:absolute; bottom:0; width:100%;">
        <div style="width:100%;">
          <v-spacer></v-spacer>
          <div class="group" style="font-size:.8em; float:left; width:60%;">
            <v-btn icon small @click="Vote(1)" >
              <v-icon small style="color:#6B0707">thumb_up</v-icon>
            </v-btn>
            <span style="">{{currentCountMinus}}</span>
            <v-btn icon small @click="Vote(0)">
              <v-icon small style="color:#6B0707">thumb_down</v-icon>
            </v-btn>
            <span>{{currentCountPlus}}</span>
            <v-btn icon small>
              <a :href="GetBaseUrl+'reviews/show/'+review.id+'/'+GetSlug(review.item)" style="color:black">
                <v-icon small>comment</v-icon>
              </a>
            </v-btn>

            <span>{{GetCommentCount(review.comment_count)}}</span>
          </div>
        </div>
      </v-card-actions>
    </v-card>
    <span small v-show="showLabel" style="z-index:1000; position:absolute">{{labelText}}</span>
  </v-flex>
</template>

<script>
import Config from "../../helpers/Config";
import StringHelper from "../../helpers/StringHelper";
export default {
  props: ["review", "status"],
  data() {
    return {
      rating: parseFloat(this.review.average_score),
      showLabel: false,
      labelText: "",
      currentCountPlus: this.review.votes.filter(r => r.value == "0").length,
      currentCountMinus: this.review.votes.filter(r => r.value == "1").length,
      votes: this.review.votes
    };
  },
  methods: {
    GetExcerpt(string) {
      return StringHelper.getExcerpt(string, 35);
    },
    GetTitleExcerpt(string) {
      return StringHelper.getExcerpt(string, 3);
    },
    GetSlug(str) {
      return StringHelper.StringToSlug(str);
    },
    Vote(val) {
      this.showLabel = true;
      if (this.$props.status == "0") {
        this.labelText = "Please log in first";
      } else {
        //do the update
        let payload = { vote: val, review: this.review.id };
        axios
          .post(Config.getBaseUrl() + "vote/", payload)
          .then(res => {
            let result = res.data;
            console.log(result);
            if (result.status === "1") {
              if (val == "1") {
                this.currentCountPlus++;
              } else {
                this.currentCountMinus++;
              }
            }
            this.labelText = result.message;
          })
          .catch(err => {
            console.log(err);
          });
      }
      setTimeout(() => {
        this.showLabel = false;
      }, 900);
    },
    GetCommentCount(str) {
      try {
        val = parseInt(str);
        if (val == NaN) return 0;
        return val;
      } catch (error) {
        return 0;
      }
    }
  },
  computed: {
    GetBaseUrl() {
      return Config.getBaseUrl();
    }
  }
};
</script>

<style>
@media (min-width: 1264px) and (max-width: 1903px) {
  .flex.lg5-custom {
    padding-left: 5px !important; padding-right: 5px !important;
      /* border: 1px solid green; */
    /* width: 20%;
    max-width: 20%;
    flex-basis: 20%; */
  }
}

.r-c {
    border: 0px !important;
    box-shadow: 0 4px 10px 2px rgba(0,0,0,0.1);
    transition: 0.3s; border-radius: 10px;
    font-family: "Nunito";
}

.r-c > div {
  padding-top: 5px !important;
  padding-bottom: 5px !important;

}
.title {
    margin-bottom: 0px; font-size: 1em !important; font-family: "Nunito" !important;
    font-weight: 600 !important; color: #6B0707; margin-top: 5px !important;
}

.v-card__actions {
  padding-left: 16px;
}
a {
  text-decoration: none !important;
}
.group {
  display: flex;
  flex: 1;
  justify-content: space-around;
}
</style>
